*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #0088f7;
    height: 100vh;
}

h1{
    color: red;
    text-align: center;
    font-size: 50px;
}

h2{
    font-size: 30px;
    color: #fff;
    text-align: center;
    margin: 20px;
}

.container{
    width: 450px;
    background: rgba(0, 0, 0, 0.733);
    border-radius: 20% 0;
    box-shadow: 1px 2px 10px #000, 3px 6px 20px #000;
    padding: 100px 30px;
}

input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    color: #fff;
    transition: .25s ease-in-out;/*Da o movimento*/
}

.cover{
    position: relative;
    margin-bottom: 20px;
}

label{
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    transform: translateY(18px);/*Determina o espaço*/
    transition:  .25s ease-in-out;
}

input:focus{
    border-bottom: 2px solid #26a96a;
    box-shadow: 0 1px 0 0 #26a96a
}

input:focus+label{
    transform: translateY(-14px) scale(.8);
    color: #26a96a;
    font-weight: bold;
}

input:not(:placeholder-shown) + label{
    transform: translateY(-14px) scale(.8);
    color: #26a96a;
    font-weight: bold;
}

input:not(:placeholder-shown){
    border-bottom: 2px solid #26a96a;
    box-shadow: 0 1px 0 0 #26a96a
}

input::placeholder{ /*não aparece */
    color: transparent;
}

input[type="submit"]{
    width: 150px;
    margin: 5px auto;
    border: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out .25s;
}

button:hover{
    background-color: red;
}
.center{
    text-align: center;
}


a{
    text-decoration: none;
    color: #fff;
    transition: .25 ease-in-out;
}

a :hover{
    color: #26a96a;
    
}
